.lia.cache
.Makefile.coq.d
Makefile.coq*
graphs/.*.aux
graphs/*.glob
graphs/*.vo
graphs/*.vok
graphs/*.vos
src/.*.aux
src/*.glob
src/*.vo
src/*.vok
src/*.vos
src_arrays/.*.aux
src_arrays/*.glob
src_arrays/*.vo
src_arrays/*.vok
src_arrays/*.vos
src_arrays_strings/.*.aux
src_arrays_strings/*.glob
src_arrays_strings/*.vo
src_arrays_strings/*.vok
src_arrays_strings/*.vos
